.project {
    display: flex;
    padding: 8px 15px;
    align-items: center;
    border-radius: .25rem;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,.125);
}
.project-name {
    display: inline-block;
}
.card-body .project, .card {
    margin-top: 15px;
}
.card-body .project:first-child, .card:first-child {
    margin-top: 0;
}